.menu-start img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: transform 0.3s ease;
}

.menu-start:hover img {
  transform: scale(1.15);   /* samma hover-känsla som text */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2); /* <-- transparent vit */
    display: flex;
    justify-content: center;
    backdrop-filter: blur(4px); /* valfritt men väldigt snyggt */
}


li {
    margin: 0 10px; /* Lite mellanrum mellan menyobjekt */
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;   /* bestäm boxens storlek */
  height: 160px;  /* kvadrat = snyggast */
  padding: 0;     /* ta bort padding som förstör layouten */
  text-decoration: none;
}


li a:hover {
    background-color: rgba(255, 255, 255, 0.2);;
}

.startpage{
    font-family:'Nunito' Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
