.menu-start img {
  width: 160px;
  height: auto;
  transition: transform 0.3s ease;
}

.menu-start:hover img {
  transform: scale(1.15);   /* samma hover-känsla som text */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fffffe;
    display: flex;
    justify-content: center; /* Centrera innehållet horisontellt */
}

li {
    margin: 0 10px; /* Lite mellanrum mellan menyobjekt */
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 35px; /* Lite större klickyta */
    text-decoration: none;
    font-size: 25px; /* Större text */
}

li a:hover {
    background-color: #d3dfd3;
}

.startpage{
    font-family:'Nunito' Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
