.game-container {
  display: flex;
  flex-direction: column; 
  gap: 40px;
  padding: 20px;
  align-items: center;
  
}

.row {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;  
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.item, .dropzone {
  background:#7A9B76;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone.drag-over {
  background-color: #EFE8CD;
  transform: scale(1.05);
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(46, 46, 46, 0.85); 
    z-index: 9999; 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #EFE8DC; 
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    border: 5px solid #7B5E3B; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    max-width: 400px;
    animation: popIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.modal-content h2 {
    color: #3A5A40; 
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.modal-content p {
    color: #2e2e2e;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.modal-btn {
    background-color: #C47A3D; 
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.modal-btn:hover {
    background-color: #A94A3F; 
    transform: scale(1.05);
}

@keyframes popIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}